html {
    margin: 0px;
}
body {
    margin: 0;
    background-color: #E8F9FD;
    font-family: 'Outfit', sans-serif;
}

header {
    background-color: #112B3C;
    color: #EFEFEF;
}
header h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 4em;
    
}

#top a {
    color: white;
}

img {
    width: 200px;
    height: 200px;
    margin-right: 1em;
    margin-top: 1em;
    margin-left: 1em;
    border-radius: 25em;
}

section h4 {
    margin-bottom: 0;
    color: #EFEFEF;
    font-size: 1.3em;
}

section h2 {
    margin-top: 0;
    color: #EFEFEF;
    font-size: 1.8em;
    padding-top: 3em;
}

footer p a {
    font-size: 1.5em;
    height: 10em;
    width: 10em;
    color: white;
}

footer p{
    margin: 0;
    padding: 4em;
    display: inline-block;
    
}
td {
    color: white;
    
}
th {
    color: #EFEFEF;
    background-color: #112B3C;
}

#middle td {
    background-color: #112B3C;
    border-radius: 0.5em;
}

#top {
    background-color: #205375;
}
#middle {
    background-color: #F66B0E;
}
#bottom {
    background-color: #EFEFEF;
}

#first {
    background-color: #C2DED1;
    border-radius: 0.5em;
}

#second {
    background-color: #ECE5C7;
    border-radius: 0.5em;
}

#third {
    background-color: #CDC2AE;
    border-radius: 0.5em;
}

#fourth {
    background-color: #354259;
    border-radius: 0.5em;
}

a:hover {
    background-color: black;
    border-radius: 0.2em;
}